/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/***************************************************************/

.main-wrapper{
    margin: 0 auto;
    width: 1000px;
}

a{
    text-decoration: none;
}

body{
    background-color: #ccc;

}

header nav{
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 grey;
}

header nav ul{
    float: left;
}

header nav ul li{
    float: left;
    list-style: none;
}

header nav ul li a{
    font-family: 'Montserrat',sans-serif;
    text-style: bold;
    font-size: 16px;
    color: #111;
    line-height: 63px;
    text-decoration: none;
    text-align: center;
    padding:4px 8px;
    display:inline-block;
    font-weight: bold;
    
}

header nav ul li a:hover{
    color: red;
    font-weight: bold;
}

header nav ul li a:after {
	 display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

header .nav-login{
    float: right;
}

header .nav-login form{
    float: left;
    padding-top: 15px;
}

header .nav-login form input{
    float: left;
    width: 140px;
    height: 30px;
    padding: 0px 10px;
    margin-right: 10px;
    border: none;
    background-color: #ccc;

    font-family: arial;
    font-size: 14px;
    color: #111;
    line-height: 30px;
}

header .nav-login form button{
    float: left;
    width: 60px;
    height: 30px;
    margin-right: 10px;
    border: none;
    background-color: #f3f3f3;

    font-family: arial;
    font-size: 14px;
    color: #111;
    cursor: pointer;
}

header .nav-login form button:hover{
    background-color: #ccc;
}

header .nav-login a{
    float: left;
    margin-top: 15px; 
    display: block;
    width: 65px;
    height: 30px;
    border: none;
    text-align: center;
    background-color: #f3f3f3; 

    font-family: arial;
    font-size: 14px;
    color: #111;
    line-height: 30px;

    cursor: pointer;
}

header .nav-login a:hover{
    background-color: #ccc;
}
.main-container{
    padding-top: 40px;
}

.main-container h2{
    font-family: arial;
    font-size: 40px;
    color: #111;
    line-height: 50px;
    text-align: center;
    margin-bottom: 10px;
}

.signup-form{
    width: 400px;
    /* margin: 0 auto; */
    margin: auto;
    padding-top: 30px;
    box-shadow: 0px 0px 10px grey;
    border-radius: 10px;
}

.signup-form input{
    width: 90%;
    height: 40px;
    padding: 0px 5%;
    margin-bottom: 4px;
    border: none;
    background-color: #fff;
    font-family: arial;
    font-size: 16px;
    color: #111;
    line-height: 40px;
}

.signup-form button{
    display: block;
    margin: 0 auto;
    margin-top: 16px;

    width: 30%;
    height: 40px;
    border: none;
    background-color: #222;
    font-family: arial;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.signup-form button:hover{
    background-color: #111;
}
.signup-form textarea{
    font-family: arial;
    font-size: 16px;
}

.search-container {
   padding-top: 40px;
}
.search-wrapper{
    margin: 0 auto;
    width: 1000px;
}

.search-container h2 {
    font-family: arial;
    font-size: 40px;
    color: #111;
    line-height: 50px;
    text-align: center;
    margin-bottom: 10px;
}

.leaderboard-search-container {

    font-family: 'Montserrat',sans-serif;
    background-color: #00bf00;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 500px;
    padding: 10px;

    text-align: center;
}

.leaderboard-search-container button {

    /*width: 90px;*/
    /*height: 30px;*/
    /*margin-right: 10px;*/
    /*border: none;*/
    /*background-color: #f3f3f3;*/
    /*font-family: arial;*/
    /*font-size: 14px;*/
    /*color: #111;*/
    /*cursor: pointer;*/


    width: 100px;
    height: 35px;
    font-size: 20px;
    vertical-align: middle;
    border: none;
    cursor: pointer;
}

.leaderboard-search-container  button:hover {
    background-color: #a0d3e8;
}

.leaderboard-search-container input {

    padding: 0px 20px;
    width: 300px;
    height: 33px;
    font-size: 20px;
}

.leaderboard-category-container {

    text-align: center;

    font-family: 'Montserrat',sans-serif;
    background-color: #fff;

    margin: auto;
    width: 700px;
    height: 600px;
    padding: 10px;
    position: relative;
}

.leaderboard-category-container button{

    width: 100px;
    height: 30px;
    margin-left: 33px;
    /*margin-top: 15px;*/
    border: none;
    background-color: #f3f3f3;
    font-family: arial;
    font-size: 14px;
    color: #111;
    cursor: pointer;

    /*position: absolute;*/
    /*bottom: auto;*/
    /*right: 0;*/
    /*bottom: 0;*/
}

.leaderboard-category-container button:hover{
    background-color: #a0d3e8;
}

.leaderboard-search-result table {
    margin: auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;

}

.leaderboard-search-result td, th {
    border: 1px solid #7d0000;
    text-align: left;
    padding: 8px;
}

.leaderboard-search-result tr:nth-child(even) {
    background-color: #dddddd;
}

div.leaderboard-category-container div,div {
    margin-bottom: 30px;
}



.scrollableList {
    overflow: auto;
    border: 1px #dddddd solid;
}
.scrollableList ul {
    border: none;
    height: 480px;
    vertical-align: middle;
}
.scrollableList ul li {
    cursor: pointer;
}

.scrollableList ul li:hover {
    background-color: #00bfbf;
}

.scrollableList ul li a {
    display : block;
    height: 40px;
    margin-bottom: 10px;
    /*background-color: #00fa00;*/
}

p.error {
    text-align: center;
    font-family: arial;
    font-size: 16px;
    /*background-color: #bf0000;*/
    color: #bf0000;
    width: content-box;
    padding: 20px;
}